@using Microsoft.AspNetCore.Identity
@foreach(var i in Model)
{
    @i.UserName
    @i.PasswordHash
    <form asp-controller="Customer" asp-action="ChangePassword" method="post">
         Change pass: <input type="password" asp-route-id="@i.Id"/>
         <a><input type="submit" value="Change"/></a>
    </form>
    
}